
.sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 500px) {
        margin-bottom: 40px;
      }
}